name: Build and Test (Pages)

on: push

jobs:
  call_build:
    uses: ./.github/workflows/build.yml
    with:
      package: "pages"

  call_playwright:
    needs: call_build
    uses: ./.github/workflows/playwright.yml
    secrets: inherit
    
  call_jstest:
    needs: call_build
    uses: ./.github/workflows/jstest.yml
    secrets:
      JSTEST_PRIVATE_SSH_KEY: ${{ secrets.JSTEST_PRIVATE_SSH_KEY }}
