name: Playwright Tests

on:
  workflow_call:
    secrets:
      BOT_REPO_SCOPED_TOKEN:
        required: true

jobs:
  acceptance:
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
        node-version: [20.x, 22.x, 24.x]
        react-major: [18, 19]
    runs-on: ${{ matrix.os }}
    steps:
      - name: "Checkout"
        uses: actions/checkout@v4.1.6
        with:
          token: ${{ secrets.BOT_REPO_SCOPED_TOKEN }}
      - uses: pnpm/action-setup@v4.0.0
      - uses: actions/setup-node@v4.0.2
        with:
          node-version: ${{ matrix.node-version }}
          cache: "pnpm"
      - uses: actions/download-artifact@v4.1.7
        with:
          name: ${{ matrix.react-major == 19 && format('build-output-{0}-react-19', matrix.node-version) || format('build-output-{0}', matrix.node-version) }}
          path: packages/pages/dist

      # It's important to not run the build for @yext/pages on Windows.
      # Currently the build does not work (on Windows) and will replace the
      # downloaded build artifact without any warnings/errors.
      - run: pnpm i --ignore-scripts

      - name: Install playwright browsers
        run: pnpm exec playwright install

      - name: Locations Site Playwright
        run: pnpm --filter locations-site run playwright

      - name: Multibrand Playwright
        if: success() || failure()
        run: pnpm --filter multibrand-site run playwright

      # This step will commit any new snapshots that weren't taken locally.
      # i.e. snapshots for Windows and Linux machines
      - name: Commit New Snapshots
        uses: EndBug/add-and-commit@v9
        if: ${{ failure() && github.ref_name != 'main' }}
        with:
          message: Commit new snapshots for ${{ matrix.os }} node-${{ matrix.node-version }} react-${{ matrix.react-major }}
          add: playground/*
          push: true
          pull: --rebase --autostash
          default_author: github_actions

      - name: Upload Playwright Reports
        uses: actions/upload-artifact@v4.3.3
        if: always()
        with:
          name: playwright-reports-${{ matrix.os }}-${{ matrix.node-version }}-react-${{ matrix.react-major }}
          path: playground/*/playwright-report/
          retention-days: 30

      - name: Ensure build doesn't error
        run: pnpm --filter "./playground/*" run build-test-site
