name: Playwright Tests

on: [push, pull_request]

jobs:
  test:
    strategy:
      matrix:
        node-version: [17.x, 18.x, 19.x]
        os: [windows-latest, ubuntu-latest, macos-latest]
    timeout-minutes: 60
    runs-on: ${{ matrix.os }}
    steps:
      - name: "Checkout"
        uses: actions/checkout@v3

      - name: Install pnpm
        uses: pnpm/action-setup@v2.2.4

      - name: Build with NodeJS ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "pnpm"

      - name: Install deps and build
        run: pnpm i && pnpm run build

      - name: Install again to link deps
        run: pnpm i

      - name: Install playwright browsers
        run: pnpm exec playwright install

      - name: Run Playwright tests
        run: pnpm --filter locations-site run playwright

      - name: Upload Playwright Report
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: playwright-report
          path: playground/locations-site/playwright-report/
          retention-days: 30

      # This step will commit any new snapshots that weren't taken locally.
      # i.e. snapshots for Windows and Linux machines
      - name: Commit New Snapshots
        uses: EndBug/add-and-commit@v9
        with:
          message: "Commit new snapshots"
          add: 'playground/static-site/__tests__/*'
          push: true
          default_author: github_actions    
