name: Run unit tests

on:
  workflow_call:
    inputs:
      package:
        description: The name of the package to test
        required: true
        type: string

jobs:
  unit_tests:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./packages/${{ inputs.package }}
    strategy:
      matrix:
        node-version: [20.x, 22.x, 24.x]
    steps:
      - name: "Checkout"
        uses: actions/checkout@v4.1.6

      - name: Install pnpm
        uses: pnpm/action-setup@v4.0.0

      - name: "test with node ${{ matrix.node-version }}"
        uses: actions/setup-node@v4.0.2
        with:
          node-version: ${{ matrix.node-version }}
          cache: "pnpm"

      - name: Install deps
        run: pnpm i

      - name: Download build artifact
        uses: actions/download-artifact@v4.1.7
        with:
          name: build-output-${{ matrix.node-version }}
          path: dist/

      - name: Run tests
        run: pnpm run test
